@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('..DroidSans-Bold.ttf') format('truetype');
}

/*
     FILE ARCHIVED ON 15:35:43 Jun 18, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:27:01 Apr 06, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  xauthn.chkprivs: 97.684
  load_resource: 558.852 (2)
  RedisCDXSource: 0.946
  PetaboxLoader3.datanode: 509.527 (5)
  xauthn.identify: 362.33
  exclusion.robots.policy: 460.415
  captures_list: 1203.648
  LoadShardBlock: 400.742 (3)
  CDXLines.iter: 38.562 (3)
  exclusion.robots: 460.433
  PetaboxLoader3.resolve: 66.699 (2)
  esindex: 0.015
*/
